* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 6.25%;
}
body {
  font-size: 16rem;
  color: #ddd;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 51%,
    rgba(29, 29, 29, 1) 100%
  );
  overflow: hidden;
}
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10rem;
  gap: 10rem;
  align-items: center;
  z-index: 10;
}
section{position: absolute; left: 0;}
.wrapper{width: 100%; height: 100%; position: absolute;left: 0;}
.about{
    background: #666;
}